.card-component {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  mat-card {
    width: 100%;
    border-radius: 15px;
    background-color: var(--background);
    Mat-card-header {
      margin-bottom: 5px;

      mat-card-title {
        font-size: 1.2rem;
        color: var(--text);
      }
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    mat-card-actions {
      a {
        margin-right: 5px;
      }
    }
  }
}
