<section class="about">
  <h3>Un poco sobre mi</h3>
  <div>
    <p>
      Soy un apasionado por el mundo IT, intentando estar siempre a la vanguardia
      en las nuevas tecnologías.
    </p>
    <p>
      Me gusta mucho el desarrollo web en el area del front-end y el back-end,
      pero también me gusta el desarrollo de aplicaciones móviles android.
    </p>
    <p>
      Me destaco en el trabajo en equipo, proactividad y ganas de aprender
      nuevos conocimientos, me encuentro con ganas de nuevos desafíos que me
      hagan crecer como profesional y como persona.
    </p>
    <p>
      Si estas buscando una persona que no le tiene miedo a los nuevos retos y
      desea llevar a un nuevo nivel tus proyectos
      <a href="#contacto">contáctamen</a>
    </p>
  </div>
</section>
