<div class="container-carousel">
    <div class="carruseles" id="slider" #slider>
        <section class="slider-section">
            <app-card [img]="'Generador de Contraseñas'" [content]="'App hecha con HTML, CSS y JavaScript'" [hrefCode]="'https://github.com/carlosprost/Retos-de-programacion/tree/main/Generador%20de%20Contrase%C3%B1as'" [hrefDeploy]="'https://passwordgenerator-cap.netlify.app/'"></app-card>
        </section>
        <section class="slider-section">
            <app-card [img]="'PiedraPapelYTijera'" [content]="'App hecha con HTML, CSS y JavaScript'" [hrefCode]="'https://github.com/carlosprost/PiedraPapelTijera'" [hrefDeploy]="'https://piedrapapeltijera-cap.netlify.app/'"></app-card>
        </section>
        <section class="slider-section">
            <app-card [img]="'pokedex'" [content]="'App hecha con Angular'" [hrefCode]="'https://github.com/carlosprost/pokedex'" [hrefDeploy]="'https://pokedex-cap.netlify.app/'"></app-card>
        </section>
        <!-- <section class="slider-section">
            <app-card [img]="'pokerama'" [content]="'Hola'"></app-card>
        </section>
        <section class="slider-section">
            <app-card [img]="'Simon'" [content]="'Hola'"></app-card>
        </section>
        <section class="slider-section">
            <app-card [img]="'Tateti'" [content]="'Hola'"></app-card>
        </section> -->
        
    </div>
    <div class="btn-left" (click)="moveToLeft()">I</div>
    <div class="btn-right" (click)=" moveToRight()">D</div>
</div>
