<section class="skills">
    <h3>Skills</h3>
    <div class="front">
        <h3>Front-end</h3>
        <div class="imgs">
            <img src="../../../assets/skills/html.png" alt="HTML5">
            <img src="../../../assets/skills/css.png" alt="CSS3">
            <img src="../../../assets/skills/javascript.png" alt="JavaScript">
            <img src="../../../assets/skills/angular-icon-seeklogo.svg" alt="Angular">
            <img src="../../../assets/skills/bootstrap.png" alt="Bootstrap">
            <img src="../../../assets/skills/angular-material.svg" alt="Angular Material">
        </div>
    </div>
    <div class="back">
        <h3>Back-end</h3>
        <div class="imgs">
            <img src="../../../assets/skills/mysql.png" alt="MySQL">
            <img src="../../../assets/skills/nodejs.png" alt="NodeJS">
            <img src="../../../assets/skills/expressjs.png" alt="Express">
        </div>
    </div>
    <div class="mobile">
        <h3>Mobile</h3>
        <div class="imgs">
            <img src="../../../assets/skills/android.png" alt="Android">
            <img src="../../../assets/skills/kotlin.png" alt="Kotlin">
            <img src="../../../assets/skills/firebase.png" alt="Firebase">
        </div>
    </div>
</section>
